<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Home Page</title>
</head>
<body>
    <h2>This is Base Page</h2>
    <h2>Welcome to the Shopping Zone Website</h2>
    <h2>Go to the any Pages from here.</h2>
    <h4>Lets See Customers <a href="/Customers/customer_viewall/"> Customers</a></h4>
    <h4>Lets See Products <a href="/Customers/customer_viewall/">products</a></h4>
</body>
</html>